.Search {
  margin-top: 100px;
  .content {
    .explore {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      h1 {
        font-size: 25px;
        font-weight: 400;
      }
    }
    .tv {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 25px 0;
      justify-content: space-around;
    }
  }
}
