.Similar {
  margin-top: 10px;
  h1 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 400;
  }
  .content {
    display: flex;
    align-items: start;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 20px;
    .slider {
      cursor: pointer;
      position: relative;
      img {
        width: clamp(103px, 15vw, 220px);
        height: clamp(150px, 20vw, 330px);
        border-radius: 8px;
      }
      .rating {
        position: absolute;
        top: 0;
        right: 0;
        margin: 4px;
        border-radius: 50%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: clamp(15px, 3vw, 50vw);
      }
      h1 {
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: clamp(12px, 4vw, 20px);
        margin-top: 10px;
        margin-bottom: 5px;
      }
      span {
        font-size: clamp(12px, 3vw, 18px);
        color: #808895;
      }
    }
  }
}
